zbx_*.txt
tmp*.*
procedure.txt
.idea
procedures
node_modules/*
out
dist

!node_modules/jquery
!node_modules/jquery-ui
!node_modules/font-awesome
!node_modules/bootstrap
!node_modules/papaparse
!node_modules/select2
!node_modules/jsoneditor
!node_modules/xlsx
!node_modules/ace-builds


